/* Our CSS file. */


#container {
width: 100%;
height: auto;
margin-bottom: 20px;
border: 1px solid black ;
}
header{
    width: 99%;
    border: 1px solid black;
    background-color: darkkhaki;
    margin: 5px;
}

header,  img , form {
    display: inline-block;
}
.logo{
    padding-left: 20px;
    padding: 25px;
}
form {
    float: right;
    padding-right: 20px ;
    padding: 40px;
}
navbar ,nav{
    width: 99%;
    text-align: center;
    margin: 5px;
    border: 1px solid black;

}
 ul {
list-style: none;
}
nav ul li {
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
}
a {
    text-decoration: none;
    color: inherit;
}
.content-body{
    width: 99%;
    height: 70%;
    border: 1px solid black;
    margin: 10px;
    position: absolute;
}
.left-sidebar , section, .right-sidebar{
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 20px;
    border: 1px solid black;
    

}
.left-sidebar {
    width: 15%;
    margin-left: 5px;
    float: left;
}
section{
    width: 10%;
    margin: 50px;
    border: 1px solid black;
   
}
 .right-sidebar{
    width: 15%;
    height: 80%;
    margin-right: 5px;
    float: right;
}
.post-img{
    width: 150px;
    height: 180px;
    margin: 20px 0px;
    border: 1px solid black;
}
footer{
    width: 98%;
    display:block;
    position:absolute;
    bottom: 0;
    margin: 20px;
    border: 1px solid black;
    padding-top: 5px;
}
aside ul li  {
    margin-top: 20px;
    margin-bottom: 20px;
}